## Quiz 정답

In [ ]:
# 문제1-1

import math
math.factorial(5)
# import 한 이름 그대로

120

In [ ]:
# 문제1-2
import math as mh
math.pow(3,2)
# output: NameError: name 'math' is not defined

9.0

In [4]:
# 문제 3
lst = [1, 2, 3]
lst.append(5)

print(lst)

[1, 2, 3, 5]

In [5]:
lst_A = lst
lst_A.reverse() # [5, 3, 2, 1]로 뒤집기
lst_A.pop() # [5, 3, 2] 마지막 요소 1 제거
##  pop()은 리스트뿐만 아니라 딕셔너리, 세트에서도 사용할 수 있으며, 요소를 제거하면서 동시에 그 값을 반환하는 유용한 메서드
print(lst_A)

[5, 3, 2]

In [ ]:
lst_B = lst_A[:2] #[5, 3] 리스트 앞 2개 원소 복사
lst_B = lst_B*2 # [5, 3, 5, 3]
lst_B.insert(2, 1) # [5, 3, 1, 5, 3] 인덱스 2 위치에 1 넣기

print(lst_A)
print(lst_B)

[5, 3, 2]
[5, 3, 1, 5, 3]

In [ ]:
# 문제 4*
lst = [1, 2, 3, 4, 5]
for i in range(4, 0, -1): # range (시작, 끝, 증감 폭): 4부터 1까지(0 제외) 거꾸로 반복
    if i == 3:
        continue # continue는 밑에를 skip
    elif i<2:
        break # break는 미래까지 skip -> i = 4, 2일 때만 실행
    lst[i] = lst[i] + 1
    # i = 4일 때: [1, 2, 3, 4, 6] index 4 = 5번째 리스트 + 1
    # i = 3일 때: continue
    # i = 2일 때: [1, 2, 4, 4, 6] index 2 = 3번째 리스트 + 1
print(lst)

[1, 2, 4, 4, 6]

<range 함수의 구조>
``` 
start: 시작 값 (포함)
stop: 끝 값 (포함되지 않음)
step: 증가/감소 폭
```

In [ ]:
list(range(4, 0, -1))

[4, 3, 2, 1]

In [ ]:
list(range(0, 10, 1))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
# 위와 동일한 구조
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

## Module

In [ ]:
import temp as tmp

print(tmp.a)
print(tmp.b)
print(tmp.convert_to_celcius(86))

5.0
9.0
30.0

In [ ]:
a = [1, 2, 3, 4]

In [ ]:
type(a) #data type 반환

list

In [ ]:
a[1] # 1은 앞에서 두 번째

2

In [ ]:
a[-1] # 마이너스는 뒤에서 첫 번째

4

In [ ]:
def P1(input_list: list[int])-> int: #return 값도 int
    # return summation value -> initialize
    pos_sum = 0 # 아무 값도 없다고 초기화
    
    # for each value in the list
    for i in input_list:
        # check each value, positive or not
        if i in input_list:
            if i>0:
                pos_sum = pos_sum + 1 # pos_sum += 1
            # otherwise, nothing
    
    # return
    return pos_sum

In [ ]:
P1([-1, -2, 3])

1

###

### Exercise1: 리스트 안의 양수(positive number) 들만 찾아서 더하는 함수*

In [ ]:
#* 수업 답안
def P1(input_list: list[int])-> int:
    # return summation value ->initialize
    pos_sum = 0

    # for each value in the list
    for i in input_list:
        print("current value: ", i)
        # check each value, postive or not
        if i>0:
            print("    positive value: ", i)
            # add up
            pos_sum = pos_sum + i # cf) pos_sum + 1을 하면, 양수의 '개수'를 더하는 코드가 됨
        
        # otherwise, nothing

    # return
    return pos_sum

In [12]:
P1([1, -2, -3])

current value:  1
    positive value:  1
current value:  -2
current value:  -3

1

### Exercise 2: print starts
- Task: Make a function that print stars as below.
(1) star_flag(n) (n is a positive number)

```
def star_flag(n: int) -> None:

```

\*

\*\*

\*\*\*

\*\*

\*

cf) return 값이 없을 때 none 사용

In [ ]:
#* 수업 답안
def star_flag(n: int)->None:
    for i in range(n): # i는 현재 돌고 있는 턴, n은 별의 최대 개수.i=0부터 시작, 별 개수는 n에 맞춰야 함
        print("*"*(i+1)) # return 대신 print
    for i in range(n-1,0,-1):
        print("*"*i)
    
    # for문 두 개가 따로 돌기 때문에 상대적으로 덜 복잡

In [46]:
star_flag(5)

*
**
***
****
*****
****
***
**
*

In [ ]:
def star_flag(n: int)->None:
    for i in range(n*2):
        if i < n:
            print("*"*(i+1))
        elif i == n:
            continue
        else:
            print("*"*(n - i%n)) # i%n = 0에서 n-1까지 반복되는 패턴 만들어줌

In [ ]:
star_flag(5)

*
**
***
****
*****
****
***
**
*